@font-face {
    font-family: "Digital-7";
    src: url("fonts/digital-7.ttf");
}

body {
    font-family: "Digital-7"; 
}

#calc {
    width: 368px;
    height: 450px;
    position: relative;
    background-color: grey;
    padding-top: 30px;
    border-radius: 30px;
    box-shadow: 4px 4px 20px black;
}

#display {
    text-align: right;
    font-size: 60px;
    width: 315px;
    height: 95px;
    background-color: beige;
    margin-left: 25px;
    margin-bottom: 35px;
    border-radius: 10px;
    border: 2px grey;
    box-shadow: 1px 1px 20px black;
}

#resultCalc {
    border: 10px black;
    height: 60px;
    margin-right: 13px;
}

#currentCalc {
    border: 10px black;
    font-size: 30px;
    height: 30px;
    margin-right: 13px;
    opacity: 0.5;
}

.row {
    width: 350px;
    display: block;
    margin-left: 15px;
}

.smallRow {
    width: 300px;
    display: block;
}

.genBtn {
    font-family: "Digital-7";
    font-size: 30px;
    width: 70px;
    height: 50px;
    margin: 5px;
    background-color: black;
    color: white;
    border-radius: 11px;
    border: 2px solid grey;
    box-shadow: 1px 1px 20px black;
}

.horiBtn {
    width: 154px;
}

.vertBtn {
    position: absolute;
    left: 268px;
    bottom: 20px;
    height: 110px;
}

.redBtn {
    background-color: crimson;
}